<form name="homeForm">
    <div class="heading">Country App</div>
    <br />

    <div class="container-fluid">
        <p-panel header="Country Search">
            <br />

            <regions id='region' label='Region' [options]='regions$ | async' optionLabel='label'
                placeholder='Choose a region' (onChange)='regionOnChange($event)'>
            </regions>
            <br />

            <div *ngIf="selectedRegion">
                <regions label='Country' [options]='countries$ | async' optionLabel='name'
                    placeholder='Choose a country' (onChange)='countryOnChange($event)'>
                </regions>
            </div>
            <br />
            <button pButton type="button" label="Reset" (click)='reset()'></button>
        </p-panel>
        <br />

        <p-panel header="Country Details" *ngIf="selectedRegion && selectedCountry">
            <br />
            <country-details [country]='selectedCountry'></country-details>
        </p-panel>
        <br /><br />

    </div>
</form>