<form name="homeForm">
    <h3>Countries App</h3>
    <hr />
    <br />

    <div class="container-fluid">
        <p-panel header="Country Search">
            <br />

            <regions label='Region' [options]='regions' optionLabel='label' placeholder='Choose a region'
                (onChange)='regionOnChange($event)'>
            </regions>
            <br />

            <div *ngIf="selectedRegion">
                <regions label='Country' [options]='countries' optionLabel='name' placeholder='Choose a country'
                    (onChange)='countryOnChange($event)'>
                </regions>
            </div>
            <br />
            <button pButton type="reset" label="Reset"></button>
        </p-panel>
        <br />

        <p-panel header="Country Details" *ngIf="selectedRegion && selectedCountry">
            <br />

            <country-details [country]='selectedCountry'></country-details>

        </p-panel>

    </div>
</form>